@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

/* for 3d carousel effect */
.demoWrapper {
  perspective: 1100px;
  transform-style: preserve-3d;
}
.box {
  position: absolute;
  width: 250px;
  height: 300px;
  background-color: #06f;
  display: inline-block;
  margin: 10px 20px 50px 235px; 

  overflow:hidden;
}
.creative-pro{ 
  border: 1px solid #00fff3;
  color: #00FFF2;
 background: transparent;
  height: 600px;
}

.creative-pro:hover{
  
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00fff3, 0 6px 20px 0 #00fff3;
  
}




}
